.refreshButton{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 500;
}

@media only screen and (max-width: 991.5px) {
    .refreshButton{
        display: flex;
        align-items: center;
        position: absolute;
        top: 500px;
        right: 11px;
        text-align: center;
        z-index: 500;
    }
}
